input:focus {
  outline: none;
}

.img-zoom {
  cursor: crosshair;
  position: relative;
}

.img-zoom div {
  position: relative;
}

.img-zoom:hover img {
  animation: zoom 0.5s linear forwards;
}

.img-zoom:hover div {
  animation: slide 0.2s linear forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2);
  }
}

@keyframes slide {
  from {
    right: -40px;
  }

  to {
    right: 10px;
  }
}

@keyframes cartlist {
  from {
    right: -400px;
  }

  to {
    right: 0;
  }
}
@keyframes cartlistclose {
  from {
    right: 0;
  }

  to {
    right: -400px;
  }
}
